/* Installation Page CSS Start */

html.installationhtml {
    overflow-x: hidden;
}

body.inastallation {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: 'Avenir';
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-weight: 500;
    overflow-x: hidden;
}

body.inastallation .row {
    max-width: none;
    letter-spacing: 0.5px;
}

.redeal-hero.her-plugins {
    height: 540px;
    background-image: url(../images/installation-middle-bg.png);
    background-position: 1px -26px;
    background-size: cover;
}

.redeal-navbar {
    background-color: rgba(0, 0, 0, .15);
    font-family: 'Avenir';
}

.w-nav {
    position: relative;
    z-index: 1000;
}

.w-nav:before, .w-nav:after {
    content: " ";
    display: table;
}

.navbar-container {
    position: static;
    display: block;
    min-width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
}

.hero-headline {
    display: block;
    margin-top: 145px;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.h1-hero {
    font-family: Avenir, sans-serif;
    color: #fff;
    line-height: 71px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -2px -1px 30px rgba(63, 63, 63, 1);
}

.section-grey-square-flex {
    display: block;
    padding-top: 65px;
    padding-bottom: 65px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../images/installation-middle-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    text-align: left;
}

ul.intaaclist {
    padding-left: 0;
    list-style: none;
}

ul.intaaclist li.intaacli {
    margin-bottom: 1rem;
}

h2.installation {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: #000;
}
body.inastallation-Detail h2.installation {
    font-size: 26px;
}
h2.installation.txt-instmain {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: 11px;
}

.content.gray-2 span.customeremail {
    color: #000;
    font-weight: 600;
}

.plugin-box {
    margin: 8px;
    padding: 31px 28px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, .13);
    text-align: center;
    min-height: 430px;
}

.plugin-logo-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.plugin-logo {
    display: block;
    width: 65%;
    margin: 0 auto;
}

.plugin-logo.texttalk {
    max-width: 100%;
    margin-left: 155px;
}

h3.nameofblog {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.ddcommon .ddTitle {
    width: auto !important;
    cursor: pointer;
}

.dd .ddChild li {
    cursor: pointer;
}

.dd {
    width: auto !important;
}

.language {
    width: 65px;
}

.languagefilter {
    width: auto;
}

.languagefilter label.markettxt {
    padding-right: 15px;
    font-size: 1.25rem;
}

.filterselection {
    margin: 10px 0;
    padding-left: 6px !important;
}

.alignslv {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.alignslv p {
    text-align: justify;
}

.languagefilter .dd .ddTitle .ddTitleText {
    width: 100px !important;
    height: 36px;
    text-align: left;
    padding: 9px 25px 5px 9px;
}

.dd .ddTitle .ddTitleText {
    width: 65px !important;
}

.dd .ddTitle .ddTitleText img {
    padding-right: 0 !important;
    left: 3px !important;
}

div.desk {
    height: 10.5em;
    line-height: 1.7em;
    overflow: hidden;
    position: relative;
}

div.desk.mgdesk {
    height: 10.3em;
}

.desk.modaldesk p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 12px;
}

.desk ol li {
    list-style-position: outside;
    padding-left: 10px;
    line-height: 25px;
    text-align: left;
}

.desk.mgdesk.modaldesk ol li {
    list-style-position: outside;
    padding-left: 10px;
    line-height: 28px;
    margin-bottom: 12px;
    font-size: 16px;
}

.desk.mgdesk.modaldesk p {
    font-size: 16px;
}

h3.nameofblog.modalbigtitle {
    font-size: 28px;
}

div.desk.modaldesk {
    height: 100%;
    line-height: 1.4em;
    overflow: hidden;
    position: relative;
}

.plugin-link {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 15px;
    color: #417505;
    font-size: 16px;
    text-decoration: none;
    outline: none;
}

h5.install-modal-h5 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 600;
}

pre.prettyprint {
    border: 1px solid #d6d6d6;
    background-color: #eee;
    width: 100%;
    border-radius: 0;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 13px;
    overflow: auto;
}

pre.prettyprint {
    line-height: 16px;
}

pre.result, pre.prettyprint {
    width: 100% !important;
    border-radius: 0;
}

.plugin-link:hover {
    color: #417505;
    font-size: 16px;
    text-decoration: none;
}

.section-grey-square {
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url(../images/installation-middle-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
}

.container-value {
    display: block;
    border-radius: 5px;
    background-color: rgba(76, 174, 118, .8);
    padding: 60px !important;
}

h6.installation {
    color: hsla(0, 0%, 100%, .4);
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h6.installationpre {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}

h6.installationprenew {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 20px;
}

p.installationpregroup {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}

h1.twentyper {
    font-size: 142px;
    color: #ffffff;
    font-weight: bold;
}

h5.twentyperh5 {
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 22px;
    padding-bottom: 22px;
}

body.inastallation.modal-open {
    overflow-x: hidden;
}

.modal-content.installationmodalcontent {
    background-image: url(../images/installation-middle-bg.png);
    background-position: center;
    background-size: 100% 100%;
    padding: 22px 0;
}

.modal-content.installationmodalcontent .modal-header {
    border-bottom: 0;
    display: block;
    padding: 0;
}

.modal-body.modalbreakpoint {
    padding: 0 35px 0;
}

a.modalreadmore {
    display: none;
}

a.modalreadmore.modalreadmoreorl {
    color: #417505;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    display: block;
}

.modal-content.installationmodalcontent .modal-footer {
    border-top: 0;
    text-align: center;
    display: block;
    padding-bottom: 30px;
}

.close {
    outline: none;
}

body.inastallation.modal-open {
    padding-right: 0 !important;
}

.modal.installationmodalgroup {
    text-align: center;
    padding: 0 !important;
}

.installationmodalgroup .modal-dialog {
    display: block;
    text-align: left;
    vertical-align: middle;
}

.modal-content.campaignmodalcontent {
    background-image: url(../images/installation-middle-bg.png);
    background-position: center;
    background-size: 100% 100%;
}

.modal-content.campaignmodalcontent .modal-header {
    border-bottom: 0;
    display: block;
    padding: 0;
}

.text-left .campaignmodalintaac {
    padding: 0 80px;
}

p.intaacpara {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

.desk table tr.activetr {
    background-color: #EEEEEE;
}

.desk .table td, .table th {
    vertical-align: middle;
    border: 3px solid #ffffff !important;
}

.desk p {
    display: list-item;
    margin-bottom: 0.8rem;
    list-style: none;
}

.desk span.symball {
    font-size: 14px;
    font-weight: bold;
    padding-right: 6px;
    color: #000;
}

.modal-header .close {
    outline: none;
    margin: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px 15px 15px !important;
}

.tableoverflow {
    width: 100%;
    overflow: auto;
    font-size: 16px;
}

p.stepsbelow {
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.desk a.sourcelink {
    color: #417505;
    text-decoration: none;
    outline: none;
}

.desk .colorred {
    color: red;
}

.desk .colorgreen {
    color: green;
}

.desk .colorgrey {
    color: #999999;
}

.desk ul li {
    list-style: none;
    margin-bottom: 10px;
}

.desk .syntaxhighlighter {
    background-color: #EEEEEE !important;
    width: 100% !important;
    margin: 1em 0 1em 0 !important;
    position: relative !important;
    overflow: auto !important;
    font-size: 1em !important;
}

.desk code {
    padding: .2rem .4rem;
    font-size: 90%;
    color: #000;
    background-color: #f8f9fa;
    border-radius: .25rem;
    border: 0;
}

.desk table.pretable {
    margin-bottom: 0 !important;
}

.desk .container.redealcode {
    color: #696969;
    font-size: 13px;
    letter-spacing: 0.6px;
    line-height: 23px;
    white-space: pre-line;
}

.desk table.pretable tbody {
    background-color: #EEEEEE !important;
}

.desk span.path {
    color: #000000;
    font-weight: 600;
}

p.downloadsource {
    color: #000;
    font-weight: 500;
}

p.downloadsource a {
    color: #417505;
    font-size: 16px;
    text-decoration: underline;
    outline: none;
}

.modal-footer A[href=""] {
    display: none;
}

.modal-dialog.mxwidthmodal {
    max-width: 90%;
}

body.inastallation-Detail {
    background-image: url(../images/installation-middle-bg.png);
    background-position: center top;
    background-size: cover;
    background-repeat: repeat-y;
    text-align: center;
    height: auto;
    font-family: 'Avenir';
    font-size: 15px;
    line-height: 30px;
    color: #333;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.detail-align-middle a.sourcelink-detail {
    color: #417505;
    text-decoration: none;
    outline: none;
    word-break: break-all;
}

.inastallation-Detail .detail-align-middle {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

a.btn.btn-success.btnbacktohome {
    color: #fff;
    background-color: #4AB866;
    border-color: #4AB866;
}

a.btn.btn-success.btnbacktohome:hover, a.btn.btn-success.btnbacktohome:active, a.btn.btn-success.btnbacktohome:focus, a.btn.btn-success.btnbacktohome:visited, a.btn.btn-success.btnbacktohome:-moz-focusring {
    color: #ffffff;
    background-color: #4AB866;
    border-color: #4AB866;
}

ol.loweralpha {
    line-height: 30px;
}

ul.magento2detail {
    list-style: none;
}

.backhome {
    top: 30px;
}

html.installationhtmldetail p {
    font-size: 16px;
}
.intaacbox {
    margin: 8px;
    padding: 31px 28px 0;
    text-align: center;
}

.instbg{
    width: 260px;
    height: 60px;
    position: relative;
    background: #4AB866;
    margin: 0 auto 30px;
}
.instbg:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 29px solid #F6F6F6;
    border-top: 29px solid transparent;
    border-bottom: 29px solid transparent;
}
.instbg:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 29px solid #F6F6F6;
    border-top: 29px solid transparent;
    border-bottom: 29px solid transparent;
}

.border-right-ins {
    border-right: 1px solid #dee2e6;
}


/* Installation Page Medial CSS start*/

@media (max-width: 479px) {
    .redeal-logo-wrapper {
        display: block;
        padding-left: 37px;
    }

    .redeal-hero.her-plugins {
        height: 340px;
        background-position: 50% 50%;
        background-size: cover;
    }

    .hero-headline {
        margin-top: 60px;
    }

    .alignslv {
        padding-left: 23px !important;
        padding-right: 23px !important;
    }

    .filterselection {
        padding-left: 23px !important;
    }

    div.desk {
        height: 11.5em;
    }

    .backhome {
        top: 15px;
    }

    .inastallation-Detail .detail-align-middle {
        display: block;
        height: 100vh;
        justify-content: start;
        align-items: center;
    }

    .setpos {
        position: relative;
        top: 30px;
    }
    .border-right-ins {
        border-right: none;
    }
    .intaacbox {
        margin: 0;
        padding: 20px 20px 0;
        text-align: center;
    }
    .intaacbox div.desk {
        height: auto;
    }

}

@media (max-width: 320px) {
    div.desk {
        height: 14.5em;
    }
}

@media screen and (max-width: 768px) and (min-width: 478px) {
    .container-value {
        padding: 30px !important;
    }

    .w-nav-brand {
        padding-left: 10px;
    }

    .redeal-logo-wrapper {
        padding-left: 31px;
    }

    .redeal-logo-wrapper {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .navbar-container {
        padding: 0;
    }

    h1.twentyper {
        font-size: 85px;
    }

    .inastallation-Detail .detail-align-middle {
        display: block;
        height: 100vh;
        justify-content: start;
        align-items: center;
    }
    .setpos {
        position: relative;
        top: 30px;
    }
    div.desk {
        height: 11.5em;
    }

}

@media (max-width: 991px) {
    .redeal-hero.her-plugins {
        height: 340px;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .navbar-container {
        padding: 20px 30px;
    }

    .hero-headline {
        margin-top: 60px;
    }

    .plugin-box {
        min-height: 435px;
    }

    .tabpadding {
        padding: 0 !important;
    }
}